@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.wrapper {
	display: none;
	flex-direction: column;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	& > * {
		height: 100%;
		min-height: 100%;
		scroll-snap-align: start;
	}

	.cover {
		background-position: center;
		//background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		position: relative;
		& > img {
			position: absolute;
			bottom: 0;
			height: 10rem;
			left: 0;
			aspect-ratio: 1/1;
			transform: rotateY(180deg);
		}
		.countdown {
			//position: absolute;
			width: fit-content;
			color: #eee;
			background: rgba(0, 0, 0, 0.5);
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			&::after {
				content: "";
				background: transparent;
				bottom: -20px;
				inset: 0;
				position: absolute;
				border-left: 100vw solid transparent;
				border-bottom: 6rem solid var(--color-primary);
				left: 10rem;
			}
			&__name {
				font-size: 3rem;
				max-width: 400px;
				font-family: "Tiro Gurmukhi", serif;
				& > span {
					font-size: 2rem;
					margin: 0 1rem;
				}
			}
			&__title {
				text-align: center;
				font-style: italic;
				font-size: 1.5rem;
				padding: 1rem 0;
			}
			&__detail {
				display: flex;
				grid-template-columns: repeat(4, 1fr);
			}
			&__item {
				& > :first-child {
					font-size: 5rem;
					line-height: 5rem;
				}
				& > :nth-child(2) {
					margin: 0 0.75rem;
					font-size: 1.2rem;
				}
				&--child {
					display: flex;
					justify-content: center;
					align-items: center;
					& * {
						$fontSize: 3.5rem;
						z-index: 2;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: $fontSize;
						line-height: calc($fontSize + 0.5rem);
						width: 3rem;
						border: rgba(255, 255, 255, 0.25) 1px solid;
						background: rgba(255, 255, 255, 0.25);
						backdrop-filter: blur(6px);
						padding: 0.5rem;
						margin: 0.1rem;
						border-radius: 0.5rem;
					}
					margin: 0.55rem;
				}
			}
			// &__detail {
			// 	display: grid;
			// 	grid-template-columns: repeat(4, 1fr);
			// 	& > :last-child {
			// 		border: none;
			// 	}
			// }
			// &__item {
			// 	border-right: 0.025rem solid #eee;
			// 	padding: 0 1.5rem;
			// 	display: flex;
			// 	flex-direction: column;
			// 	justify-content: center;
			// 	align-items: center;
			// 	& > :first-child {
			// 		font-size: 3rem;
			// 		line-height: 3rem;
			// 	}
			// 	& > :nth-child(2) {
			// 		padding: 0;
			// 		font-size: 1.25rem;
			// 		text-transform: uppercase;
			// 	}
			// }
		}
	}

	.invite {
		padding: 3rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		margin: 3rem 0;
		color: #242526;
		background: $invtie-primary-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&__img {
			position: absolute;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 3/4;
			right: 0;
			top: 0;
			z-index: 1;
		}
		&__detail {
			overflow: hidden;
			border-radius: 0.25rem;
			padding: 1rem 0;
			margin: 0rem auto;
			display: flex;
			max-width: 800px;
			aspect-ratio: 4/3;
			background: #fff;
			position: relative;
			box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
			&::after {
				z-index: 2;
				position: absolute;
				content: "";
				background: transparent;
				border: 3px solid $invtie-primary-color;
				inset: 1rem;
				border-radius: 0.25rem;
			}
			& > .download {
				z-index: 999;
				position: absolute;
				right: 2rem;
				bottom: 2rem;
				min-width: unset;
				width: 2.5rem !important;
				padding: 0.5rem;
				aspect-ratio: 1/1;
				border-radius: 100rem;
				opacity: 0;
				visibility: hidden;
				cursor: pointer;
			}
			&:hover .download {
				opacity: 1;
				visibility: visible;
			}
		}
		&__card {
			color: #242526;
			font-size: 3rem;
			display: flex;
			align-items: start;
			flex-direction: column;
			background: #ffffff;
			border: 3px solid rgba(255, 255, 255, 1);
			font-family: "Tiro Gurmukhi", serif;
			text-transform: capitalize;
			& > span {
				font-size: 3rem;
				line-height: 39px;
			}
		}
		&__title {
			top: 0;
			z-index: 3;
			flex-direction: column;
			justify-content: center;
			padding: 2rem;
			color: $invtie-primary-color;
			text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
			& div {
				font-size: 5.1rem;
				line-height: 5.1rem;
				text-transform: uppercase;
			}
			& span {
				text-transform: lowercase;
				font-size: 2rem;
				font-style: italic;
				height: 2.5rem;
				line-height: 2.5rem;
				font-family: "Tiro Gurmukhi", serif;
			}
		}
		&__content {
			position: absolute;
			left: 0;
			bottom: 0;
			color: $invtie-content-color;
			background-color: $invtie-primary-color;
			text-transform: uppercase;
			z-index: 3;
			text-align: right;
			padding: 2rem;
			padding-bottom: 3rem;
			& p {
				font-size: 18px;
				text-transform: capitalize;
			}
			&::after {
				content: "";
				position: absolute;
				border: 3px solid $invtie-content-color;
				border-radius: 0 0 0 0.25rem;
				border-top: 0;
				border-right: 0;
				top: 0;
				bottom: 1rem;
				left: 1rem;
				right: 0;
			}
			&--name {
				font-size: 2rem;
				font-weight: 600;
				& i {
					vertical-align: middle;
				}
			}
		}
	}

	.gallery {
		display: flex;
		flex-direction: column;
		&__title {
			color: $invtie-secondary-color;
			text-transform: uppercase;
			font-size: 2.5rem;
			font-weight: 600;
			text-align: center;
			& i {
				padding-right: 1rem;
				font-size: 2rem;
			}
		}
		&__list {
			flex-grow: 1;
		}
		&__item {
			padding: 0.5rem;
			flex-shrink: 1;
			aspect-ratio: 4/3;
			& > img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 0.5rem;
				box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
			}
		}
	}

	.location {
		margin-top: 3rem;
		&__title {
			font-weight: 600;
			text-transform: uppercase;
			font-size: 2.5rem;
			text-align: center;
			color: $invtie-secondary-color;
			& i {
				padding-right: 1rem;
				font-size: 2rem;
			}
		}
		.map {
			iframe {
				height: 100vh;
				width: 100%;
			}
		}
	}
	.footer {
		position: relative;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		&,
		& * {
			font-size: 2rem;
			color: $invtie-secondary-color;
		}
		& h2 {
			font-size: 3rem;
		}
		&__title {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			& > * {
				line-height: 3.9rem;
			}
		}
		&__background {
			position: absolute;
			inset: 0;
			z-index: -2;
			& > img {
				object-fit: cover;
				opacity: 0.3;
			}
		}
	}
}

.view-img {
	z-index: 10;
	position: fixed;
	inset: 0;
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(6px);
	display: flex;
	justify-content: center;
	align-items: center;
	&__wrap {
		width: 100%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		min-height: 100vh;
	}
	&__close {
		position: absolute;
		background: #eee;
		padding: 0.5rem 1rem;
		& * {
			font-size: 40px;
			color: #242526;
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		max-width: 90vw;
		max-height: 90vh;
		animation: viewImg 1.25s;
		object-fit: contain;
		border-radius: 1.3rem;
		overflow: hidden;
	}
	&--button {
		z-index: 11;
		min-width: unset;
		position: absolute;
		color: $black;
		border-radius: 100rem;
		opacity: 0.8;
		width: 3.5rem;
		aspect-ratio: 1/1;
		padding: 1rem !important;
	}
	& .prev {
		left: 1rem;
	}
	& .next {
		right: 1rem;
	}
}

.pagination {
	padding: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	&__index {
		min-width: unset;
		color: $black;
		border-radius: 100rem;
		height: 39px;
		aspect-ratio: 1/1;
		background: #ccc;
		font-weight: 600;
		padding: 0.5rem !important;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}

	& .active > &__index {
		color: $invtie-content-color;
		background: $invtie-primary-color !important;
	}
}

@keyframes viewImg {
	0% {
		width: 0;
	}
}

.loader {
	position: fixed;
	inset: 0;
	background: #eee;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	&::before {
		content: "";
		width: 60px;
		height: 60px;
		border-radius: 100rem;
		border: 6px solid #fff;
		border-top: $invtie-primary-color solid 6px;
		animation: spin 0.9s linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.btn-scroll-top {
	min-width: unset;
	color: $black;
	border-radius: 100rem;
	height: 39px;
	aspect-ratio: 1/1;
	background: #eee;
	border: 1px solid #ccc;
	font-weight: 600;
	padding: 0.5rem !important;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
	z-index: 99;
}

@media (max-width: 576px) {
	.invite {
		&__detail {
			aspect-ratio: 3/4 !important;
		}
		&__content {
			text-align: center !important;
			background: $invtie-primary-color !important;
			&::after {
				content: "";
				position: absolute;
				border: 3px solid $invtie-content-color !important;
				border-radius: 0 0 0 0.25rem;
				border-top: 0 !important;
				top: 0;
				bottom: 1rem;
				left: 1rem;
				right: 1rem !important;
			}
		}
	}
}
@media (max-width: 768px) {
	.invite {
		&__detail {
			aspect-ratio: 3/4 !important;
		}
		&__content {
			text-align: center !important;
			background: $invtie-primary-color !important;
			&::after {
				content: "";
				position: absolute;
				border: 3px solid $invtie-content-color !important;
				border-radius: 0 0 0 0.25rem;
				border-top: 0 !important;
				top: 0;
				bottom: 1rem;
				left: 1rem;
				right: 1rem !important;
			}
		}
	}
}
