$dark-primary: #18191a;
$dark-second: #242526;
$dark-third: #3a3b3c;
$dark-text: #e4e6eb;

$light-primary: #f0f2f5;
$light-second: #ffffff;
$light-third: #f0f2f5;
$light-text: #050505;

$blue: #2d88ff;
$white: #f0f2f5;
$black: #18191a;
$red: #fa383e;
$green: #00a400;
$yellow: #f5c33b;
$pink: #fe4e6b;

$border-color: #eeeeee;
$border-radius: 10px;

$invtie-primary-color: #ffc0e2;
$invtie-secondary-color: #ff8ac9;
$invtie-content-color: #ffffff;
